<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindMemos</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap" rel="stylesheet">
</head>
<body style="background-color: #ecf9eb;">
    <!-- NAVIGATION BAR -->
    <nav class="flex flex-row justify-between px-5 pt-2 pb-16 items-center">
        <img src="../static/img/logo.png" width="30%">

        <!-- NAVIGATION BAR BUTTONS -->
        <div class="flex justify-between space-x-16 items-center text-primarytext text-xl font-poppins">
            <p class="bg-accent py-2 px-3 rounded-2xl cursor-pointer"><a href="/login">Login</a></p>
        </div>
    </nav>

    <!-- HERO SECTION -->
    <div class="flex flex-row justify-between px-5 py-2 items-center h-full">
        <div class="flex flex-col w-1/2 space-y-5 p-14">
            <p class="font-poppins text-3xl font-bold text-primarytext">Why is it important to <span class="text-accent font-black font-sans text-4xl">JOURNAL</span>?</p>
            <p class="font-poppins text-xl text-gray-600">Engaging in journaling allows you to track your flow of <span class="font-black font-sans text-green-800">emotions</span> over time, enabling you to <span class="font-sans font-black text-green-800">identify triggers</span> and recurring themes in your life, unveiling valuable insight about <span class="font-sans font-black text-green-800">who you are.</span> Through this self-reflection, you can cultivate a deeper understanding of your emotional landscape, paving a path for growth and improvement.<br>Our website's aim is to support your journaling journey, allowing you to easily reflect on your emotions.</p>
        </div>
        <div class="w-1/2">
            <img src="../static/img/herolaunch.png">
        </div>
    </div>
</body>
</html>